.main {
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 100%;
    height: 5rem;      
}

.main div {       
    margin: auto;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 550;
}

.main div:hover {
    color: rgb(168, 168, 168);
}

.main button {
    display: flex;
    align-items: center;
    justify-content: center;   
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 0.5rem;      
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);   
    transition-duration: 300ms;  
}

.main button:hover {
    cursor: pointer;      
}

.main button:focus {
    outline: 0.2rem solid transparent;
    outline-offset: 0.2rem;	
}

@media screen and (min-width: 768px) {
    .main div {
        margin: 2.5rem;
    }
} 